<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="utf-8" />

	<title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
{% if meta.description %}
	<meta name="description" content="{{ meta.description }}">
{% endif %}{% if meta.robots %}
	<meta name="robots" content="{{ meta.robots }}">
{% endif %}

{% block css %}
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" type="text/css" />
	<link rel="stylesheet" href="{{ base_url }}/assets/css/style.css" type="text/css" />
{% endblock %}

</head>
<body>

	<header id="header">
		<div class="inner clearfix">
			<h1><a href="{{ base_url }}">{{ site_title }}</a></h1>
			<ul class="nav">
			{% block nav %}
				{% for item in nav %}
				<li><a href="{{ item.url }}">{{ item.title }}</a></li>
				{% endfor %}
			{% endblock %}
			</ul>
		</div>
	</header>

	<section id="content">
		<div class="inner">
			{{ content | raw }}
		</div>
	</section>

	<footer id="footer">
{% block footer %}
		<div class="inner">
			<a href="https://github.com/hassankhan/Zepto">Zepto</a> was made by <a href="http://hassankhan.me">Hassan Khan</a>.
		</div>
{% endblock %}
	</footer>

{% block js %}
	<!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ base_url }}/assets/js/modernizr-2.6.1.min.js"></script>
{% endblock %}

</body>
</html>
